.content{
    background-color: rgb(243, 243, 243);
    max-width: 100%;
    width: 46vw;
    height: 90vh;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box; 
    overflow: auto; 
    resize: none; 
}

.preview h2{
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content img{
    max-width: 600px;
    width: 100%;
}

@media (max-width: 500px) {
    .content{
        height: 40vh;
        width: 100vw;
        margin-top: 10px;
    }
}